#wrap {
  margin: 0 auto;
  width: 640px;
  text-align: center;
}

#controls,
#icons {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
}

td.key {
  background-color: #eee;
  border-radius: 5px;
  padding: 2px 5px;
  text-align: center;
  font-weight: bold;
}
td.description {
  padding: 2px 5px;
  text-align: left;
}

td.icon-cell {
  padding-right: 10px;
}
td.icon-description {
  text-align: left;
  padding-right: 30px;
}

.icon {
  background-image: url('../images/sprites.png');
  display: inline-block;
  height: 32px;
  width: 32px;
}

#weapons {
  text-align: left;
  padding-bottom: 5px;
}

#weapons .icon-container {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 5px;
}

#weapons .icon-container.selected {
  background-color: #fffee5;
  border: 1px solid #dad200;
  border-radius: 5px;
  opacity: 1;
}

#weapons .icon-container {
  border: 1px solid #fff;
  opacity: 0.2;
}

.icon-human { background-position: 0 0; }
.icon-fire { background-position: -32px 0; }
.icon-wind { background-position: -128px 0; }
.icon-dog { background-position: -160px 0; }
.icon-treasure { background-position: -192px 0; }
.icon-treasure-opened { background-position: -224px 0; }
.icon-forest { background-position: 0 -32px; }
.icon-mountain { background-position: -32px -32px; }
.icon-grass { background-position: -64px -32px; }
.icon-river { background-position: -96px -32px; }
.icon-cave { background-position: -128px -32px; }
.icon-dirt { background-position: -160px -32px; }
.icon-tree { background-position: -192px -32px; }
.icon-arrow { background-position: -32px -64px; }
.icon-skeleton { background-position: 0 -96px; }
.icon-skull { background-position: -32px -96px; }
.icon-punch { background-position: -64px -96px; }
.icon-blood { background-position: -96px -96px; }
.icon-explosion { background-position: -128px -96px; }
.icon-life { background-position: 0 -128px; }
.icon-life-half { background-position: -96px -128px; }
.icon-life-shining { background-position: -256px -128px; }

#sprites {
  display: none;
}

a {
  background-color: #eee;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
  padding: 5px 10px;
}

.walkthrough li {
  text-align: left;
  line-height: 30px;
}

.walkthrough-choice li {
  text-align: left;
  line-height: 30px;
  list-style-type: lower-roman;
}

#walkthrough {
  text-align: left;
}

#walkthrough h2 {
  background-color: #eee;
  border-radius: 5px;
  padding: 5px;
}

#walkthrough .icon {
  vertical-align: middle;
}
